@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// variables

$bodyBg :linear-gradient(225deg, #af67e9, #a667e9, #9c66e9, #9266e9, #8866e9, #7d66e8, #7265e8, #6565e7);
$pHover : hsl(14, 88%, 65%);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body
{
    background: $bodyBg;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    width: 1440px;
}

.container
{
    width: 60%;
    display: flex;
    gap:2rem;
    border-radius: 20px;
    background-color: white;
    .img-div
    {
        width: 50%;
        position: relative;
        overflow: hidden;
        img
        {
            position: absolute;
            width: 100%;
        }
        
        .mainImg
        {
            left: -4rem;
            top: 5rem;
            width: 105%;
            z-index: 2;
        }
        .bgImg
        {
            width: 200%;
            left: -32rem;
            bottom: -7rem;
        }
    }
    .text-div
    {
        position: relative;
        width: 60%;
        .boxImg
        {
            position: absolute;
            width: 150px;
            top: 12rem;
            left: -31rem;
            z-index: 100;
        }
        padding:3rem 0;
        padding-right: 4rem;
        .answer
        {
            display: none;
        }
        .Questions
        {
            margin-block: 2rem;
            p
            {
                padding-bottom: 8px;
                &:hover
                {
                    color: $pHover;
                }
            }
            .qs-div
            {
                img
                {
                    height: fit-content;
                }
                display: flex;
                align-items: center;
                gap: 2rem;
                justify-content: space-between;
            }
            .answer
            {
                .answer-div
                {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    img
                    {
                        height: fit-content;
                        transform: rotate(180deg);
                    }
                }
                p
                {
                    margin-block: 10px;
                    &:hover
                    {
                       color: black;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:540px) {
    body,html
    {
        
        overflow-x: hidden;
    }
    body
    {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .container
    {
        flex-direction: column;
        width: 80%;
        .img-div
        {   
            width: 100%;
            overflow: visible;
            .mainImg
            {
                left: 1rem;
                top: -8rem;
                width: 90%;
                z-index: 2;
            }
            .bgImg
            {
                display: none;
            }
        }
        .text-div
        {
            padding: 2rem;
            
            width: 100%;
            margin: 3rem auto;
            h1
            {
                text-align: center;
                font-weight: 700;
            }
        }
    }
}